.u-dn {
  &-all {
    display: none;
  }
  &-pc {
    @include mq(xl) {
      display: none;
    }
  }
  &-tb {
    @include mq(lg) {
      display: none;
    }
  }
  &-sp {
    @include mq {
      display: none;
    }
  }
}
