$count: $count;

.u-m {
  @for $i from 0 through $count {
    &t-#{$i * 2} {
      margin-top: rem(floor(($i * 2) * 1));
    }
    &b-#{$i * 2} {
      margin-bottom: rem(floor(($i * 2) * 1));
    }
    &r-#{$i * 2} {
      margin-right: rem(floor(($i * 2) * 1));
    }
    &l-#{$i * 2} {
      margin-left: rem(floor(($i * 2) * 1));
    }
  }
  @for $i from 0 through $count {
    @include mq(xl) {
      &t-pc-#{$i * 2} {
        margin-top: rem(floor(($i * 2) * 1));
      }
      &b-pc-#{$i * 2} {
        margin-bottom: rem(floor(($i * 2) * 1));
      }
      &r-pc-#{$i * 2} {
        margin-right: rem(floor(($i * 2) * 1));
      }
      &l-pc-#{$i * 2} {
        margin-left: rem(floor(($i * 2) * 1));
      }
    }
  }
  @for $i from 0 through $count {
    @include mq(lg) {
      &t-tb-#{$i * 2} {
        margin-top: rem(floor(($i * 2) * 1));
      }
      &b-tb-#{$i * 2} {
        margin-bottom: rem(floor(($i * 2) * 1));
      }
      &r-tb-#{$i * 2} {
        margin-right: rem(floor(($i * 2) * 1));
      }
      &l-tb-#{$i * 2} {
        margin-left: rem(floor(($i * 2) * 1));
      }
    }
  }
  @for $i from 0 through $count {
    @include mq {
      &t-sp-#{$i * 2} {
        margin-top: rem(floor(($i * 2) * 1));
      }
      &b-sp-#{$i * 2} {
        margin-bottom: rem(floor(($i * 2) * 1));
      }
      &r-sp-#{$i * 2} {
        margin-right: rem(floor(($i * 2) * 1));
      }
      &l-sp-#{$i * 2} {
        margin-left: rem(floor(($i * 2) * 1));
      }
    }
  }
  &-center {
    margin-right: auto;
    margin-left: auto;
    &-pc {
      @include mq(xl) {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &-tb {
      @include mq(lg) {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &-sp {
      @include mq {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
